
.main {
	grid-area: main;
}

.picture {

}

.img {
	width: 100%;
}

.user {
	display: flex;
	gap: 30px;
	padding: 20px;
	align-items: center;
}

.list {}

.avatar {}

.avatarFile{}

.user__info{}

.info_user{}

.info_user__name {
	font-size: 24px;
	margin-bottom: 15px;
}

.info_user__item_info {
	font-size: 18px;
	line-height: 150%;
	color: darkgray;
}
.info_user__item_info span {
	color: grey;
	font-size: 16px;
	text-shadow: 0 0 1px #000;
}